#content{
  max-width: 1200px;
}

* {
  margin:5; padding:0;
}
.textbox {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* 動画全体の横幅を指定するためのdiv */
.video-wrap {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* 動画を囲うdiv */
.video {
  position: relative;
  width:100%;
  height:0;
  padding-top: 56.25%;
}

/* YouTube埋め込み用のiframe */
.video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

